<hr>
<div class="footer">
    <br>
    <p class="horizontal-center"><b>Copyright:</b> Moreno La Quatra</p>
    <p class="horizontal-center"><b>Acknowledgements:</b> <a href="https://latex.vercel.app/">LaTeX-css</a></p>
    <br>
    <div class="container horizontal-center">
        <button onclick="location.href='https://twitter.com/MorenoLaQuatra';">🐦 Twitter</button>
        <button onclick="location.href='https://scholar.google.com/citations?user=JyN-kZsAAAAJ';">🎓 Scholar</button>
        <button onclick="location.href='https://www.linkedin.com/in/moreno-la-quatra/';">💼 LinkedIn</button>
        <button onclick="location.href='https://github.com/MorenoLaQuatra';">💻 GitHub</button>
    </div>
    <br>
</div>