<div class="container horizontal-center">
    <button onclick="location.href='index.html';">🏠 Home</button>
    <button onclick="location.href='cv.html';">📄 CV</button>
    <button onclick="location.href='projects.html';">🏗️ Projects</button>
    <button onclick="location.href='talks.html';">🗣️ Talks</button>
    <button onclick="location.href='publications.html';">📜 Publications</button>
    <button onclick="location.href='teaching.html';">🏫 Teaching</button>
    <button onclick="location.href='blog.html';">🖊️ Blog</button>
</div>
<br>
<br>