<header>
  <nav>
    <a href="index.html" class="logo">
      <img src="mlq-logo.png" alt="MLQ" class="logo-img">
      M. La Quatra
    </a>
    <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav-links">
      <li><a href="cv.html"><span class="nav-sym">&sect;</span> CV</a></li>
      <li><a href="publications.html"><span class="nav-sym">&#8747;</span> Publications</a></li>
      <li><a href="teaching.html"><span class="nav-sym">&#8711;</span> Teaching</a></li>
      <li><a href="projects.html"><span class="nav-sym">&#8721;</span> Projects</a></li>
      <li><a href="blog.html"><span class="nav-sym">&#8706;</span> Blog</a></li>
      <li><a href="talks.html"><span class="nav-sym">&#8734;</span> Talks</a></li>
    </ul>
  </nav>
</header>
