<div class="container horizontal-center">
    <button onclick="location.href='../index.html';">🏠 Home</button>
    <div class="dropdown">
        <button>📄 CV</button>
        <div class="dropdown-content">
            <a href="../projects.html">🏗️ Projects</a>
            <a href="../talks.html">🗣️ Talks</a>
        </div>
    </div>
    <button onclick="location.href='../publications.html';">📜 Publications</button>
    <button onclick="location.href='../teaching.html';">🏫 Teaching</button>
    <button onclick="location.href='../blog.html';">🖊️ Blog</button>
</div>
<br>
<br>